<div class="sidebar-module sidebar-module-inset text-sm-center">
  <style>
.regbutton {
  text-decoration: none;
  background-color: #900;
  font-weight: bold;
  text-align: center;
  padding: 1em 0.5em;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
</style>

<p class="regbutton">
	<a style="color: white; font-size 2em;"
	   href="https://www.eventbrite.com/e/tiime-trust-and-internet-identity-meeting-europe-tickets-28860004049">
	   Register for TIIME
	</a>
</p>
  <h4 style="margin-top: 1.5em;">Sponsors</h4>
  <img src="{{'/img/sponsors/austriapro_logo_400.jpg' | prepend: site.baseurl}}" class="img-fluid img-thumbnail" style="margin: 0.5em 0">
  <img src="{{'/img/sponsors/isoc_logo400.png' | prepend: site.baseurl}}" class="img-fluid img-thumbnail" style="margin: 0.5em 0">
  <img src="{{'/img/sponsors/scg-logo-name.png' | prepend: site.baseurl}}" class="img-fluid img-thumbnail" style="margin: 0.5em 0">
  <img src="{{'/img/sponsors/sunet_logo_400.png' | prepend: site.baseurl}}" class="img-fluid img-thumbnail" style="margin: 0.5em 0">
  <img src="{{'/img/sponsors/fh_technikum_wien400.png' | prepend: site.baseurl}}" class="img-fluid img-thumbnail" style="margin: 0.5em 0">
  <img src="{{'/img/sponsors/kantara400.png' | prepend: site.baseurl}}" class="img-fluid img-thumbnail" style="margin: 0.5em 0">
  <img src="{{'/img/sponsors/daasi_logo_final_400.gif' | prepend: site.baseurl}}" class="img-fluid img-thumbnail" style="margin: 0.5em 0">
</div>
